img {
  height: auto; /*! Make sure images are scaled correctly. */
  max-width: 100%; /*! Adhere to container width. */
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/*! Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

.wp-caption {
  margin-bottom: $global-margin;
  max-width: 100%;

  &.alignleft {
    margin: rem-calc(4 24 24 0);
  }

  &.alignright {
    margin: rem-calc(4 0 24 24);
  }

  &.aligncenter {
    margin: 0 auto rem-calc(24);
  }

  &.alignnone {
    margin: rem-calc(0 0 24);
  }

  img {
    &[class*='wp-image-'] {
      @include center-block;
    }
  }

  .wp-caption-text {
    margin: .8075rem 0;
  }
}

.size-big {
  clear: both;
  display: block;
  float: none;

  @include breakpoint(medium up) {
    margin-left: -237px;
    margin-right: -237px;
    max-width: 1088px;
    width: 1088px;
  }
}

.wp-caption-text {
  text-align: center;
}

@import 'galleries';
