// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignnone {
	display: block;
	float: none;
	margin: 0;
}

audio,
canvas {
	display: inline-block;
}

figure,
picture,
img,
video {
	display: block;
	width: auto;
	max-width: 100%;
	height: auto;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
video {
	max-width: 100%;
	margin-bottom: $paragraph-margin-bottom;
	vertical-align: middle;
	p > & {
		margin-bottom: 0;
	}
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: none;
}
