.alignleft {
    display: inline;
    float: left;
    margin-right: $global-margin;
}

.alignright {
    display: inline;
    float: right;
    margin-left: $global-margin;
}

.aligncenter {
    clear: both;
    @include center-block;
}
