/**
 * Comments
 */
.comments-area {
    padding: rem-calc(40 15);
    background: $white;
    & > :last-child {
        margin-bottom: 0;
    }
}

.comment-list {
    list-style: none;
    margin: 0;
    article {
        border-top: 1px solid $silver;
        padding: 1.6rem 0;
    }
    .pingback {
        border-top: 1px solid $silver;
        padding: 1.6rem 0;
    }
    .trackback {
        border-top: 1px solid $silver;
        padding: 1.6rem 0;
    }
    .children {
        list-style: none;
        margin: 0;
        & > li {
            padding-left: 0.8rem;
        }
    }
    .reply {
        font-size: rem-calc(12);
        a {
            border: 1px solid $silver;
            display: inline-block;
            font-weight: $font-weight-bold;
            line-height: 1;
            margin-top: 2rem;
            padding: 0.4167rem 0.8333rem;
            text-transform: uppercase;
            &:hover {
                border-color: $primary-color;
                color: $primary-color;
                outline: 0;
            }
            &:focus {
                border-color: $primary-color;
                color: $primary-color;
                outline: 0;
            }
        }
    }
    + .comment-respond {
        border-top: 1px solid $smoke;
        padding-top: 1.6rem;
    }
}

.comments-title {
    font-size: rem-calc(18);
    line-height: 1.3333;
    margin-bottom: 1.3333rem;
}

.comment-reply-title {
    font-size: rem-calc(18);
    line-height: 1.3333;
}

.comment-author {
    padding: 0;
    margin-bottom: 0.4rem;
    border: none;
    .avatar {
        float: left;
        height: 24px;
        margin-right: 0.8rem;
        width: 24px;
        border-radius: $global-radius;
    }
}

.comment-metadata {
    font-size: rem-calc(12);
    line-height: 1.5;
    margin-bottom: 1.6rem;
    .edit-link {
        margin-left: 1rem;
    }
}

.comment-content {
    ul {
        margin: 0 0 1.6rem 1.3333rem;
    }
    ol {
        margin: 0 0 1.6rem 1.3333rem;
    }
    li {
        > ul {
            margin-bottom: 0;
        }
        > ol {
            margin-bottom: 0;
        }
    }
    > :last-child {
        margin-bottom: 0;
    }
}

.comment-form {
    padding-top: 1.6rem;
    label {
        font-size: rem-calc(12);
        font-weight: $font-weight-bold;
        display: block;
        letter-spacing: 0.04rem;
        line-height: 1.5;
        text-transform: uppercase;
    }
    input[type="text"] {
        width: 100%;
    }
    input[type="email"] {
        width: 100%;
    }
    input[type="url"] {
        width: 100%;
    }
    input[type="submit"] {
        width: 100%;
    }
}

.comment-notes {
    font-size: rem-calc(12);
    line-height: 1.5;
    margin-bottom: 2rem;
}

.comment-awaiting-moderation {
    font-size: rem-calc(12);
    line-height: 1.5;
    margin-bottom: 2rem;
}

.logged-in-as {
    font-size: rem-calc(12);
    line-height: 1.5;
    margin-bottom: 2rem;
}

.form-allowed-tags {
    font-size: rem-calc(12);
    line-height: 1.5;
    margin-bottom: 2rem;
}

.no-comments {
    border-top: 1px solid $smoke;
    font-weight: $font-weight-bold;
    padding-top: 1.6rem;
}

.form-submit {
    margin-bottom: 0;
}

.required {
    color: $alert-color;
}

.comment-navigation {
    &.comment-respond {
        padding-top: 1.6rem;
    }
    &.no-comments {
        border-top: 0;
    }
}

.pingback .edit-link {
    font-size: rem-calc(12);
    line-height: 1.5;
    margin-left: 1rem;
}