/**
 * PageNavi
 */
$page-navi-border: rgba($primary-color, 0.40);
.wp-pagenavi {
    @include clearfix;
    margin: rem-calc(30 0);
    text-align: center;
    .pages {
        display: none;
    }
}

.wp-pagenavi a,
.wp-pagenavi span {
    padding: 3px 8px;
    margin: 2px 10px;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: $global-radius;
}

.wp-pagenavi a {
    font-size: rem(18);
    line-height: 1;
}

.wp-pagenavi a:hover,
.wp-pagenavi span.current {
    border-color: $page-navi-border;
}

.wp-pagenavi span.current {
    color: $page-navi-border;
    font-weight: $font-weight-normal;
}