.comments-area {
  padding: rem-calc(100 $global-padding);
}

.comments-area > :last-child {
  margin-bottom: 0;
}

.comment-list + .comment-respond {

}

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
  padding-top: rem-calc(24);
}

.comments-title,
.comment-reply-title {
  margin: 0;
}

.comments-title {
  margin-bottom: rem-calc(24);
}

.comment-list {
  list-style: none;
  margin: 0;

  article,
  .pingback,
  .trackback {
    padding: rem-calc(24 0);
  }
}

.comments-title + .comment-list > li:first-child > article,
.comments-title + .comment-list > li:first-child > .pingback,
.comments-title + .comment-list > li:first-child > .trackback {
  border-top: 0;
  padding-top: 0;
}

.comment-list {
  .children {
    list-style: none;
    margin: 0;

    & > li {
      padding-left: 12px;
    }
  }
}

.comment-author {
  margin-bottom: 6px;

  .avatar {
    float: left;
    height: 24px;
    margin-right: 12px;
    position: relative;
    width: 24px;
  }
}

.comment-metadata,
.pingback .edit-link {
  font-size: rem-calc(12);
  line-height: 1.5;
}

.comment-metadata {
  margin-bottom: rem-calc(24);

  a {
    color: $secondary-color;
  }

  .comment-edit-link {
    color: $primary-color;
  }
}

.comment-metadata,
.pingback {
  .edit-link {
    display: inline-block;
    margin-left: 6px;
  }
}

.pingback {
  .edit-link:before {
    top: 3px;
  }
}

.comment-content ul,
.comment-content ol {
  margin: rem-calc(0 0 24 20);
}

.comment-content li > ul,
.comment-content li > ol {
  margin-bottom: 0;
}

.comment-content > :last-child {
  margin-bottom: 0;
}

.comment-list {
  .reply {
    font-size: rem-calc(12);

    a {
      display: inline-block;
      line-height: 1;
      margin-top: rem-calc(24);
      padding: 6px 12px 5px;
      text-transform: uppercase;

      a {
        &:hover,
        &:focus {
          border-color: currentColor;
          color: $primary-color;
          outline: 0;
        }
      }
    }
  }
}

.comment-form {
  padding-top: rem-calc(24);

  label {
    display: block;
    font-size: rem-calc(12);
    font-weight: $global-weight-bold;
    letter-spacing: .05em;
    line-height: 1.5;
    margin-bottom: 6px;
    text-transform: uppercase;
  }

  input[type="submit"] {
    @include button;
  }
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
  font-size: rem-calc(12);
  line-height: 1.5;
  margin-bottom: rem-calc(24);
}

.no-comments {
  font-weight: $global-weight-bold;
  margin: 0;
  padding-top: rem-calc(24);
}

.comment-navigation + .no-comments {
  border-top: 0;
}

.form-allowed-tags {
  code {
    font-family: $code-font-family;
  }
}

.form-submit {
  margin-bottom: 0;
}

.required {
  color: $warning-color;
}

.comment-reply-title {
  small {
    font-size: 100%;

    a {
      border: 0;
      float: right;
      height: 32px;
      overflow: hidden;
      width: 26px;
    }
  }
}
