/* Unordered Lists */
ul li ul,
ul li ol {
	margin-left: 1.25rem;
	margin-bottom: 0;
}

ul.square li ul,
ul.circle li ul,
ul.disc li ul {
	list-style: inherit;
}

ul.square {
	list-style-type: square;
	margin-left: 1.1rem;
}

ul.circle {
	list-style-type: circle;
	margin-left: 1.1rem;
}

ul.disc {
	list-style-type: disc;
	margin-left: 1.1rem;
}

ul.no-bullet {
	list-style: none;
}

/* Ordered Lists */
ol {
	margin-left: 1.4rem;
}

ol li ul,
ol li ol {
	margin-left: 1.25rem;
	margin-bottom: 0;
}

/* Definition Lists */
dl dt {
	margin-bottom: 0.3rem;
	font-weight: bold;
}

dl dd {
	margin-bottom: 0.75rem;
}