table {
	background: #FFFFFF;
	border: solid 1px #DDDDDD;
	margin-bottom: 1.25rem;
	table-layout: auto;
	caption {
		background: transparent;
		color: #222222;
		font-size: 1rem;
		font-weight: bold;
	}
	thead {
		background: #F5F5F5;
		tr th,
		tr td {
			color: #222222;
			font-size: 0.875rem;
			font-weight: bold;
			padding: 0.5rem 0.625rem 0.625rem;
		}
	}
	tfoot {
		background: #F5F5F5;
		tr th,
		tr td {
			color: #222222;
			font-size: 0.875rem;
			font-weight: bold;
			padding: 0.5rem 0.625rem 0.625rem;
		}
	}
	tr th,
	table tr td {
		color: #222222;
		font-size: 0.875rem;
		padding: 0.5625rem 0.625rem;
		text-align: left;
	}
	tr.even,
	tr.alt,
	tr:nth-of-type(even) {
		background: #F9F9F9;
	}
}

table thead tr th,
table tfoot tr th,
table tfoot tr td,
table tbody tr th,
table tbody tr td,
table tr td {
	display: table-cell;
	line-height: 1.125rem;
}