/**
 * Typography
 */
body,
button,
input,
select,
textarea {
	margin: 0;
	padding: 0;
	position: relative;
	color: $body-text-color;
	font-family: $body-font-family;
	font-size: $body-font-size;
	line-height: $body-line-height;
	cursor: auto;

}

body {
	background: $body-bg; /* Fallback for when there is no custom background color defined. */
}

a {
	color: $anchor-font-color;
	text-decoration: $anchor-text-decoration;
	@include transition(all 0.3s ease-in-out);
	@include on-event {
		color: $anchor-font-color-hover;
		text-decoration: $anchor-text-decoration-hover;
	}
	img {
		border: none;
	}
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	-ms-interpolation-mode: bicubic;
}

p {
	font-family: $paragraph-font-family;
	font-size: $paragraph-font-size;
	font-weight: $paragraph-font-weight;
	line-height: $paragraph-line-height;
	margin-bottom: $paragraph-margin-bottom;
	text-rendering: $paragraph-text-rendering;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5rem;
}

address {
	margin: 0 0 1.5rem;
}

pre {
	margin-bottom: 1.6rem;
	max-width: 100%;
	overflow: auto;
	padding: 1.6rem;
}

code,
kbd,
tt,
var {
	font-family: $monospace;
}

abbr,
acronym {
	cursor: help;
}

mark,
ins {
	text-decoration: none;
}

big {
	font-size: 125%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: $header-font-color;
	font-family: $header-font-family;
	font-style: $header-font-style;
	font-weight: $header-font-weight;
	small {
		font-size: $small-font-size;
		line-height: 0;
	}
}

h1 {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

h6 {
	font-size: $h6-font-size;
}