/*!-------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
  @include clearfix;
  background: $topbar-background;
  bottom: 0;
  color: $dark-gray;
  font-size: rem-calc(12);
  left: 0;
  line-height: 1;
  padding: $global-padding 0;
  position: absolute;
  right: 0;

  .menu {
    @include menu-direction(vertical);

    & > li > a {
      padding-left: 0;
    }
  }

  @include breakpoint(medium up) {
    .site-info {
      float: left;
    }

    .menu {
      @include menu-direction(horizontal);
      float: right;

      & > li > a {
        padding-bottom: 0;
        padding-top: 0;
      }
    }
  }
}
