.site-header {
  @include clearfix;
  margin-bottom: $global-margin;
}

.site-branding {
  @include vertical-center;
}

.site-title {
  font-size: rem-calc(21);
  font-weight: $global-weight-bold;
  padding: 0;
  margin: 0;
}

// Hide description
.site-description {
  display: none;
  font-size: rem-calc(12);
  margin: 0;
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}
