.sticky {
  display: block;
}

.hentry {
  @include clearfix;
  margin: 0 0 $global-margin;
}

.byline,
.updated:not(.published) {
  display: none;
}

.bypostauthor,
.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $global-margin 0 0;

  // Helps with accessibility
  a {
    background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% 1px;
    text-decoration: none;

    &:hover,
    &:focus {
      background-image: none;
    }
  }
}
