/*!-------------------------------------------------------------
## Sidebar
--------------------------------------------------------------*/
.widget-area {
  .widget {
    ul {
      @include menu-base;
      @include menu-direction(vertical);
    }
  }
}
