// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.site-footer {
  @include flex-grid-column();
  padding: $global-padding;
}
