.widget-area {
  .widget {
    margin: 0 0 $global-margin;
    word-wrap: break-word;

    /* Make sure select elements fit in widgets. */
    select {
      max-width: 100%;
    }

    & > ul {
      @include menu-base();
      @include menu-direction(vertical);

      a {
        padding-left: 0;
      }
    }
  }

  /* Recent Posts Widget */
  .widget_recent_entries {
    .post-date {
      display: block;
    }
  }

  /* RSS Widget */
  .rsswidget {
    img {
      margin-top: -4px;
    }
  }

  .rssSummary {
    margin: rem-calc(9 0);
  }

  .rss-date {
    display: block;
  }

  .widget_rss {
    li {
      margin-bottom: $global-margin;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  /* Text widget */
  .widget_text {
    & > div > :last-child {
      margin-bottom: 0;
    }
  }

  /* Search widget */
  .widget_search {
    .search-field {
      margin-bottom: 0;
    }

    .search-submit {
      display: none;
    }
  }
}
