.site-content {
    @include flex-grid-row;
    word-wrap: break-word;
}

.content-area,
.widget-area {
    @include flex-grid-column(12);
}

@include breakpoint(medium) {
    .content-area {
        @include flex-grid-column(8);
        .full-width & {
            @include flex-grid-column(12);
        }
    }
    .widget-area {
        @include flex-grid-column(4);
    }
}

.sticky-post {
    display: block;
}

.hentry {
    position: relative;
    margin: rem-calc(0 0 40 0);
    &.sticky {
        display: block;
    }
    .entry-header {
        @include clearfix;
        margin-bottom: $global-margin;
        .post-thumbnail img {
            height: auto;
            width: 75px;
            border-radius: $global-radius;
        }
        .entry-meta {
            font-size: rem-calc(12);
        }
    }
    .entry-title {
        @extend h2;
        margin: rem-calc(0 0 5);
    }
    .entry-content,
    .entry-summary {
        @include clearfix;
    }
    .entry-footer {
        @include clearfix;
        font-size: rem-calc(12);
    }
    .cat-links {
        margin-right: $global-margin;
    }
    .entry-time {
        float: left;
    }
    .comments-link {
        float: right;
    }
    .edit-link {
        display: block;
        font-size: rem-calc(12);
    }
}

.page-header {
    padding: $global-padding 0 ;
    margin-bottom: $global-margin;
    .page-title {
        font-size: rem-calc(18);
        margin-top: 0;
        span {
            font-weight: 300;
        }
    }
    .taxonomy-description p {
        font-size: rem-calc(14);
        margin-bottom: 0;
    }
}

.byline,
.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: $global-margin 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 $global-margin;
}