.comment-navigation,
.posts-navigation,
.post-navigation {

    .site-main & {
        margin: 0 0 1.5rem;
        overflow: hidden;
    }

    .nav-previous {
        float: left;
        width: 50%;
    }

    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}

/**
 * Social Navigation
 * -----------------------------------------------------------------------------
 */
.social-navigation {
    @include clearfix;
    a {
        &:before {
            //@extend %genericons;
        }
    }
}

.social-navigation {
    margin: 9.0909% 0;
    ul {
        list-style: none;
        margin: 0;
    }
    li {
        float: left;
    }
    a {
        display: block;
        height: 3.2rem;
        position: relative;
        width: 3.2rem;
        &:before {
            content: "\f415";
            font-size: rem-calc(24);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    a[href*="codepen.io"]:before {
        content: "\f216";
    }
    a[href*="digg.com"]:before {
        content: "\f221";
    }
    a[href*="dribbble.com"]:before {
        content: "\f201";
    }
    a[href*="dropbox.com"]:before {
        content: "\f225";
    }
    a[href*="facebook.com"]:before {
        content: "\f203";
    }
    a[href*="flickr.com"]:before {
        content: "\f211";
    }
    a[href*="foursquare.com"]:before {
        content: "\f226";
    }
    a[href*="plus.google.com"]:before {
        content: "\f206";
    }
    a[href*="github.com"]:before {
        content: "\f200";
    }
    a[href*="instagram.com"]:before {
        content: "\f215";
    }
    a[href*="linkedin.com"]:before {
        content: "\f208";
    }
    a[href*="pinterest.com"]:before {
        content: "\f210";
    }
    a[href*="getpocket.com"]:before {
        content: "\f224";
    }
    a[href*="polldaddy.com"]:before {
        content: "\f217";
    }
    a[href*="reddit.com"]:before {
        content: "\f222";
    }
    a[href*="stumbleupon.com"]:before {
        content: "\f223";
    }
    a[href*="tumblr.com"]:before {
        content: "\f214";
    }
    a[href*="twitter.com"]:before {
        content: "\f202";
    }
    a[href*="vimeo.com"]:before {
        content: "\f212";
    }
    a[href*="wordpress.com"]:before {
        content: "\f205";
    }
    a[href*="wordpress.org"]:before {
        content: "\f205";
    }
    a[href*="youtube.com"]:before {
        content: "\f213";
    }
    a[href*="mailto:"]:before {
        content: "\f410";
    }
    a[href*="spotify.com"]:before {
        content: "\f515";
    }
    a[href*="twitch.tv"]:before {
        content: "\f516";
    }
    a[href$="/feed/"]:before {
        content: "\f413";
    }
    a[href*="path.com"]:before {
        content: "\f219";
    }
    a[href*="skype.com"]:before {
        content: "\f220";
    }
}