.widget {
    margin-bottom: $global-padding;
    ul, ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        padding: rem-calc(5 0);
    }
    .children li:last-child {
        padding-bottom: 0;
    }
    li > ul,
    li > ol {
        margin-left: rem-calc(20);
    }
    select {
        max-width: 100%;
    }
}

.widget-title {
    font-size: rem-calc(18);
}

.search-form .search-submit {
    display: none;
}