.widget-area {
	ol,
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			padding: 5px 0;
			& > ul,
			& > ol {
				margin-left: rem-calc(20);
			}
		}
	}
	.children li:last-child {
		padding-bottom: 0;
	}
}
