.wp-caption {
  max-width: 100%;
  margin-bottom: 1.5rem;

  img[class*="wp-image-"] {
    align-self: baseline;
    margin-right: auto;
    margin-left: auto;
  }

  .wp-caption-text {
    margin: 0.8075rem 0;
  }
}

.wp-caption-text {
  text-align: center;
}
