.page-content,
.entry-content,
.comment-content {
  .wp-smiley {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: 0;
  }
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}
