/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

  &:focus {
    background-color: $body-background;
    border-radius: $global-radius;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    clip: auto !important;
    color: $anchor-color;
    display: block;
    font-size: rem-calc(14);
    font-weight: $global-weight-bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: rem-calc(15 23 14);
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}

.search-form {
  .search-submit {
    display: none;
  }
}
