.alignleft {
    display: inline;
    float: left;
    margin: 0 $paragraph-margin-bottom $paragraph-margin-bottom 0;
}
.alignright {
    display: inline;
    float: right;
    margin: 0 0 $paragraph-margin-bottom $paragraph-margin-bottom;
}
.aligncenter {
    @include center-block;
}
.alignnone {
    float: none;
    display: block;
    margin: 0;
}