/*
   Comments
   ========================================================================== */
.comments-area {
	padding: rem-calc(20);
	& > :last-child {
		margin-bottom: 0;
	}
}

.comment-list + .comment-respond {
	padding-top: rem-calc(30);
}

.comment-navigation + .comment-respond {
	padding-top: rem-calc(30);
}

.comments-title,
.comment-reply-title {
	font-size: rem-calc(18);
	line-height: 1.5;
}

.comments-title {
	margin-bottom: rem-calc(20);
}

.comment-list {
	margin: 0;
	list-style: none;
	article,
	.pingback,
	.trackback {
		padding: rem-calc(30 0);
	}
	.children {
		margin: 0;
		list-style: none;
		& > li {
			padding-left: rem-calc(10);
		}
	}
}

.comment-author {
	margin-bottom: rem-calc(5);
	padding: 0;
	border: none;
	.avatar {
		@include size(24px);

		float: left;
		margin-right: rem-calc(10);
	}
}

.bypostauthor > article .fn:after {
	@extend %fontawesome;

	content: "\f007";
}

.comment-metadata,
.pingback .edit-link {
	font-size: rem-calc(12);
	line-height: 1.5;
}

.comment-metadata {
	margin-bottom: rem-calc(15);
}

.comment-content {
	ul,
	ol {
		margin: rem-calc(0 0 15 10);
	}
	li > {
		ul,
		ol {
			margin-bottom: 0;
		}
	}
	& > :last-child {
		margin-bottom: 0;
	}
}

.comment-list .reply {
	font-size: rem-calc(12);
	a {
		display: inline-block;
		margin-top: rem-calc(20);
		line-height: 1;
		text-transform: uppercase;
	}
}

.comment-form {
	padding-top: 1rem;
	label {
		display: block;
		font-size: rem-calc(12);
		line-height: 1.5;
		letter-spacing: 0.04em;
		text-transform: uppercase;
	}
	input {
		&[type="submit"] {
			@extend .button;
		}
	}
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
	margin-bottom: rem-calc(20);
	font-size: rem-calc(12);
	line-height: 1.5;
}

.no-comments {
	padding-top: 1rem;
}

.comment-navigation + .no-comments {
	border-top: 0;
}

.form-submit {
	margin-bottom: 0;
}
