/*
   Comments
   ========================================================================== */
.comments-area {
    padding: 20px;
    & >:last-child {
        margin-bottom: 0;
    }
}
.comment-list + .comment-respond {
    padding-top: 30px;
}
.comment-navigation + .comment-respond {
    padding-top: 30px;
}
.comments-title,
.comment-reply-title {
    font-size: rem-calc(18);
    line-height: 1.5;
}
.comments-title {
    margin-bottom: rem-calc(20);
}
.comment-list {
    list-style: none;
    margin: 0;
    article,
    .pingback,
    .trackback {
        padding: 30px 0;
    }
    .children {
        list-style: none;
        margin: 0;
        & > li {
            padding-left: 10px;
        }
    }
}
.comment-author {
    padding: 0;
    margin-bottom: rem-calc(5);
    border: none;
    .avatar {
        float: left;
        @include size(24px);
        margin-right: rem-calc(10);
    }
}
.bypostauthor > article .fn:after {
    @extend %fontawesome;
    content: "\f007";
}
.comment-metadata,
.pingback .edit-link {
    font-size: rem-calc(12);
    line-height: 1.5;
}
.comment-metadata {
    margin-bottom: rem-calc(15);
}
.comment-content {
    ul,
    ol {
        margin: rem-calc(0 0 15 10);
    }
    li > {
        ul,
        ol {
            margin-bottom: 0;
        }
    }
    >:last-child {
        margin-bottom: 0;
    }
}
.comment-list .reply {
    font-size: rem-calc(12);
    a {
        display: inline-block;
        line-height: 1;
        margin-top: rem-calc(20);
        text-transform: uppercase;
    }
}
.comment-form {
    padding-top: 1rem;
    label {
        font-size: rem-calc(12);
        display: block;
        letter-spacing: 0.04em;
        line-height: 1.5;
        text-transform: uppercase;
    }
    input {
        &[type="text"],
        &[type="email"],
        &[type="url"],
        &[type="submit"] {
            @extend .button;
        }
    }
}
.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
    font-size: rem-calc(12);
    line-height: 1.5;
    margin-bottom: rem-calc(20);
}
.no-comments {
    padding-top: 1rem;
}
.comment-navigation + .no-comments {
    border-top: 0;
}
.form-submit {
    margin-bottom: 0;
}
.comment-reply-title small a {
    
}