$editor-width: 640px;

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Foundation
# Accessibility
# Alignments
# Clearings
# Media
    ## Galleries
    ## Captions
--------------------------------------------------------------*/
////////////////////////////////////////////////////////////////
// Bourbon Mixin Library
////////////////////////////////////////////////////////////////
@import "bourbon";

////////////////////////////////////////////////////////////////
// Global Variables
////////////////////////////////////////////////////////////////
@import "settings";

////////////////////////////////////////////////////////////////
// Custom Mixins
////////////////////////////////////////////////////////////////
@import "mixins";

/*--------------------------------------------------------------
# Foundation Components
--------------------------------------------------------------*/
@import "foundation-components";
html,
body {
    height: auto;
}
body {
    margin: $column-gutter;
    max-width: $editor-width;
}
img {
    border: 0;
    height: auto;
    max-width: $editor-width;
    vertical-align: middle;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";