$editor-width: 640px;

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Foundation
# Accessibility
# Alignments
# Clearings
# Media
    ## Galleries
    ## Captions
--------------------------------------------------------------*/
////////////////////////////////////////////////////////////////
// Bourbon Mixin Library
////////////////////////////////////////////////////////////////
@import "bourbon";

////////////////////////////////////////////////////////////////
// Global Variables
////////////////////////////////////////////////////////////////
@import "settings";

////////////////////////////////////////////////////////////////
// Custom Mixins
////////////////////////////////////////////////////////////////
@import "mixins";

/*--------------------------------------------------------------
# Foundation Components
--------------------------------------------------------------*/
@import "foundation-components";

html,
body {
	height: auto;
}
body {
	max-width: $editor-width;
	margin: $column-gutter;
}
img {
	max-width: $editor-width;
	height: auto;
	border: 0;
	vertical-align: middle;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";
