@charset "UTF-8";
/**
 * Table of Contents
 *
 * Base
 * 		Fonts
 *		Typography
 *		Lists
 *		Tables
 * 		Helpers
 * Components
 *		Accessibility
 *		Buttons
 *		Galleries
 *		Captions
 */

$editor-width: 800px;

// 1. Vendors
@import
'../../../bower_components/bourbon/app/assets/stylesheets/bourbon';

// 2. Configuration and helpers
@import
	'utils/variables',
	'utils/functions',
	'utils/mixins';

// 3. Base
@import
	'base/base',
	'base/fonts',
	'base/typography',
	'base/lists',
	'base/tables',
	'base/helpers';

html,
body {
	height: auto;
}

body {
	max-width: $editor-width;
	margin: $column-gutter;
}

img {
	max-width: $editor-width;
	height: auto;
	border: 0;
	vertical-align: middle;
}

// 4. Components
@import
	'components/accessibility',
	'components/buttons',
	'components/galleries',
	'components/captions';