.social-navigation {
	li {
		a {
			display: block;
			position: relative;
			text-align: center;
			&:before {
				@include fontawesome;

				content: "\f0c1";
			}
			&[href$="/feed/"]:before {
				content: "\f09e";
			}
			&[href*="bitbucket.org"]:before {
				content: "\f171";
			}
			&[href*="codepen.io"]:before {
				content: "\f1cb";
			}
			&[href*="digg.com"]:before {
				content: "\f1a6";
			}
			&[href*="dribbble.com"]:before {
				content: "\f17d";
			}
			&[href*="dropbox.com"]:before {
				content: "\f16b";
			}
			&[href*="facebook.com"]:before {
				content: "\f09a";
			}
			&[href*="flickr.com"]:before {
				content: "\f16e";
			}
			&[href*="foursquare.com"]:before {
				content: "\f180";
			}
			&[href*="plus.google.com"]:before {
				content: "\f0d5";
			}
			&[href*="github.com"]:before {
				content: "\f09b";
			}
			&[href*="ycombinator.com"]:before {
				content: "\f1d4";
			}
			&[href*="instagram.com"]:before {
				content: "\f16d";
			}
			&[href*="last.fm"]:before {
				content: "\f202";
			}
			&[href*="linkedin.com"]:before {
				content: "\f0e1";
			}
			&[href*="paypal.com"]:before {
				content: "\f1ed";
			}
			&[href*="pinterest.com"]:before {
				content: "\f0d2";
			}
			&[href*="reddit.com"]:before {
				content: "\f1a1";
			}
			&[href*="soundcloud.com"]:before {
				content: "\f1be";
			}
			&[href*="stumbleupon.com"]:before {
				content: "\f1a4";
			}
			&[href*="tumblr.com"]:before {
				content: "\f173";
			}
			&[href*="twitter.com"]:before {
				content: "\f099";
			}
			&[href*="vimeo.com"]:before {
				content: "\f194";
			}
			&[href*="vine.com"]:before {
				content: "\f1ca";
			}
			&[href*="wordpress.com"]:before,
			&[href*="wordpress.org"]:before {
				content: "\f19a";
			}
			&[href*="youtube.com"]:before {
				content: "\f16a";
			}
			&[href*="mailto:"]:before,
			&[href*="/contact/"]:before {
				content: "\f1d8";
			}
			&[href*="spotify.com"]:before {
				content: "\f1bc";
			}
			&[href*="twitch.tv"]:before {
				content: "\f1e8";
			}
		}
	}
}
